.container-left{
    width: 28%;
    background-color: #0097e6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center{
    width: 44%;
    background-color: #2BA9EA;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-right{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 28%;
    background-color: #0097E6;
    height: 100%;

}

.player-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.player-field{
    background-color: white;
    border: 1px solid #fff;
    height: 48px;
    width: 317px;
    border-radius: 10px;
    padding-left: 15px;
    outline: none;
    transition-duration: 300ms;
}
.player-field-1:focus{
border: 1px solid #2ba9ea ;
box-shadow: 0 0 5px #000;
}

.player-field-1{
    margin-bottom: 20px;
}
.player-field-2{
    width: calc(317px - 56px - 9px)
}

.switcher{
    background-color: #2ba9ea;
    height: 32px;
    width: 56px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.player-field-wrapper{
    display: flex;
    align-items: center;
    background-color: white;
    border:1px solid #fff;
    width: fit-content;
    border-radius: 10px;
    padding-right: 9px;
    transition-duration: 300msz;
}

.player-field-wrapper:focus-within{
    border: 1px solid #2ba9ea ;
    box-shadow: 0 0 5px #000;
    
}

.switcher-ball{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: 250ms;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.switcher.active > .switcher-ball{

    transform: translateX(24px);
    background-color: black;
}

.title{
    color:#fff ;
    font-weight: 700;
    font-size: 16px;
}

.title--green{
    color: #45F391;
}

.title--green-small{
    color:#45F391;
    font-size: 14px;
}

.title--match{
    margin-bottom: 19px;
}
.title--blue-big{
    color: #0097E6;
    font-size: 25px;
    
}

.title-scoreboard{
    margin-bottom: 11px;
}

.md-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;margin-bottom: 45px;
}

.box-center-left{
    max-width: 317px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.md-text{
    color: #fff;
}
.button{
    background-color: #fff;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    max-width: 317px;
    padding: 15px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #0097E6;
}

.button--green{
background-color: #45F391;
color: #fff;

}

.button--play{
    margin-bottom: 38px;
}

.title--match--history{
    margin-bottom: 20px;

}

.winner-wrapper{
    background-color: #fff;
    padding: 9px 15px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 168px;
}

.winner-history-title{
margin-bottom: 7px;
}

.winner-histoy-name{
    color: #828282;
    font-size: 14px;
   
}
.match-history-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.scenery-label{
    color: #fff;
    margin:0 24px;
}
.mini-board-item{
    background-color: #fff;
    padding: 3px;
    border-radius: 2px;
    width: 15px;
    min-width: 15px;
    height: 15px;    
    font-weight: 700;
    font-size: 12px;
    color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-history--list{
    max-height: 215px;
    overflow    : auto;
    padding-right: 4px;
    margin-bottom: 38px;
}
.mini-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 49px;
    height: 49px;


}

.scoreboard-box{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 400px;
    border-radius: 15px;
    padding: 0 30px;
    width: 66%;
    margin-bottom: 70px;
}

.score{
    color: #0097E6;
    font-size: 48px;
    font-weight: 700;
}

.score-wrapper{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;

}

.winner-text{
    color: #828282;
    font-weight: 500;
}
.board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    height: 510px;
}

.board-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width:160px;
    min-width:  160px;
    border-radius: 15px;
    background-color: #fff;
    font-size: 130px;
    font-weight: 700;
    color: #828282;
    cursor: pointer;
    user-select: none;
}

.history-move-title{
    margin-bottom: 28px;
}

.history-move{
    display: flex;
    align-items: center;
    min-height: 50px;
    min-width: 317px;
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.history-move-letter{
    font-size: 48px;
    font-weight: 700;
    color: #828282;
    margin-right: 16px;

}

.history-move-player-name{
    margin-bottom: 17px;
    color: #828282;
    font-weight: 700;
}
.history-move-position-text{
    color: #0097e6;
    font-size: 14px;
}

.history-move-list{
    height: 700px;
    max-height: 700px;
    overflow: auto;
}

.won{
    color: red;
}